<div class="giveform">
    <div class="container">

        <p>Title</p>
        <p class="small-p"><%= @listing.title %></p>
        <p>Category</p>
        <p class="small-p"><%= @category.title %></p>
        <p>Description</p>
        <p class="small-p"><%= @listing.description %></p>

        <% if @listing.status == "active" %>
            <img class="listing-img" src="<%= @listing.image_url %>" alt="">
        <% else %>
            <div class="under-offer-wrapper">
             <img class="under-offer-image" src="<%= @listing.image_url %>" alt="">
             <div class="under-offer-img-text">under offer</div>
             </div>
        <% end %>

        <% if !session[:user_id] %>
            <div class="clearfix">
                <div>Want this item?</div>
                <div>You must be a registered user to take items</div>
                <form action="/signup">
                    <button type="submit" class="take_btn">Signup to take</button>
                </form>
            </div>

            <p>Questions and answers</p>

            <% @comments.each do |question| %>
            
                <div class="comments">
                  <div class="q-and-a-label">Q:</div>
                        <div>
                            <%= question.user.username %>
                        </div>
                        <div class="small-p">
                            <%= question.body%>
                        </div> 
                </div>
                
                <div class="comments">
                    <% @answers.each do |answer| %>
                        <% if question.id == answer.comment_id %>
                        <div class="q-and-a-label">A:</div>
                            <div><%= answer.user.username %></div>
                            <div class="small-p"><%= answer.body%></div> 
                        <% end %>
                    <% end %>
                </div>
                
            <% end %>

        <% elsif @listing.user_id == session[:user_id] %>


            <p>Questions and answers</p>
            <% @comments.each do |question| %>
                <div class="comments">
                    <div class="q-and-a-label">Q:</div>
                        <div>
                            <%= question.user.username %>
                        </div>
                        <div class="small-p">
                            <%= question.body%>
                        </div> 
                        <% if question.question_replied == "no" %>
                            <button class="comment-reply-btn">reply</button>
                        <% end %>
                </div>

                <div class="answers">
                    <form class="comments-form" action="/answers" method="post">
                        <input type="text" name="body">
                        <input type="hidden" name="listing_id" value="<%= @listing.id %>">
                        <input type="hidden" name="comment_id" value="<%= question.id %>">
                        <button class="comment-reply-btn">reply</button>
                    </form>
                </div>
                    
                <div class="comments-answered">
                    <% @answers.each do |answer| %>
                        <% if question.id == answer.comment_id %>
                            <div class="q-and-a-label">A:</div>
                            <div><%= answer.user.username %></div>
                            <div class="small-p"><%= answer.body%></div> 
                        <% end %>
                    <% end %>
                </div>
                    
            <% end %>

        <% else %>

            <div class="clearfix">
                <% if @listing.status == "active" %>
                    <form action="/listings/<%=params[:id]%>/taken">
                        <button type="submit" class="take-btn">Take</button>
                    </form>
                <% else %>
                    <button class="under-offer-btn">Under Offer</button>
                    <div class="under-offer"> This item is currently under offer. </div>
                <% end %>
            </div>

            <p>Have a question?</p>

            <form class="comments-form" action="/questions" method="post">
            <textarea name="body"></textarea>
            <input type="hidden" name="listing_id" value="<%= @listing.id %>">
            <button>post question</button>
            </form>

            <p>Questions and answers</p>
            <% @comments.each do |question| %>
                <div class="comments">
                    <div class="q-and-a-label">Q:</div>
                        <div>
                            <%= question.user.username %>
                        </div>
                        <div class="small-p">
                            <%= question.body%>
                        </div> 
                </div>
                    
                <div class="comments-answered">
                    <% @answers.each do |answer| %>
                        <% if question.id == answer.comment_id %>
                            <div class="q-and-a-label">A:</div>
                            <div><%= answer.user.username %></div>
                            <div class="small-p"><%= answer.body%></div> 
                        <% end %>
                    <% end %>
                </div>
                    
            <% end %>


        <% end %>

    </div>
</div>




<script>
var replyBtns = document.querySelectorAll('.comment-reply-btn')

var reply = event => {
    // <form class="comments-form" action="/comments" method="post">
    console.log('working')
    var replyBtnClicked = event.target
    var answerReply = replyBtnClicked.parentElement.nextElementSibling
    debugger
    answerReply.style.display = "block"
    // debugger
    // var question = replyBtnClicked.parentElement.parentElement
    // var div = document.createElement('div')
    // div.className = "comments"
    // question.appendChild(div)
    // var input = document.createElement('input')
    // input.type = "text"
    // input.className = "comments-reply"
    // input.name = "item"
    // div.appendChild(input)
    // var button = document.createElement('button')
    // button.className = "comment-reply-btn"
    // button.textContent = "reply"
    // div.appendChild(button)

}

replyBtns.forEach( replyBtn => {
    replyBtn.addEventListener('click', reply)
})



</script>