
<% @listings.each do |listing| %>

    <div class="greybackground">
        <div class="listing-container">
            <div class="listing-picture">
                <img src="<%= listing.image_url %>" alt="">
            </div>
            <div>
                <h2><%= listing.title %></h2>
                <p class="small-p">
                <%= listing.description %>
                </p>
            <div class=listing-footer>
                <span class="tiny-p">Created: <%= listing.date_created %></span>        
            </div>
        </div>
            <div>
                <form action="/listings/<%= listing.id %>">
                    <button type="submit">View</button>
                </form>
            </div>
            
        </div>
    </div>
<% end %>
